<div class="header-section">
  <div class="grid grid-cols-1 gap-20 md:grid-cols-2">
    <div class="hidden pt-8 md:block">
      <img
        src="https://framerusercontent.com/images/sitQqXXWe18lNYFUMPSXSHcM3A.png?scale-down-to=1024"
        class="object-contain"
      />
    </div>

    <div class="space-y-4">
      <!-- form -->
      <div appAnimateOnScroll class="card space-y-8 p-12">
        <!-- header -->
        <div class="space-y-2">
          <p class="text-meta uppercase">Contact</p>
          <h2 class="text-5xl">Let's get in touch.</h2>
        </div>

        <form class="space-y-4">
          <input
            type="text"
            id="name"
            class="card w-full p-4 placeholder:uppercase placeholder:text-primary-400 placeholder:opacity-70 focus:border-primary-300"
            placeholder="name"
          />
          <input
            type="email"
            id="email"
            class="card w-full p-4 placeholder:uppercase placeholder:text-primary-400 placeholder:opacity-70 focus:border-primary-300"
            placeholder="Email"
          />
          <textarea
            id="message"
            rows="8"
            class="card w-full p-4 placeholder:uppercase placeholder:text-primary-400 placeholder:opacity-70 focus:border-primary-300"
            placeholder="Message..."
          ></textarea>
          <button
            class="w-full bg-primary-400 p-3 text-lg uppercase text-background"
          >
            Send Message
          </button>
        </form>
      </div>

      <!-- links -->
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        @for (social of socials; track $index) {
          <app-social-link appAnimateOnScroll [social]="social" />
        }
      </div>
    </div>
  </div>
</div>
