<div class="header-section">
  <div class="grid grid-cols-1 gap-20 md:grid-cols-2">
    <div class="hidden pt-8 md:block">
      <img
        src="https://framerusercontent.com/images/sitQqXXWe18lNYFUMPSXSHcM3A.png?scale-down-to=1024"
        class="object-contain"
      />
    </div>

    <div class="space-y-4">
      <!-- form -->
      <div appAnimateOnScroll class="card space-y-8">
        <!-- header -->
        <div class="space-y-2">
          <p class="uppercase">Contact</p>
          <h2 class="text-4xl md:text-5xl">Let's get in touch.</h2>
        </div>

        <form class="space-y-4">
          <input type="text" id="name" class="input" placeholder="name" />
          <input type="email" id="email" class="input" placeholder="Email" />
          <textarea
            id="message"
            rows="8"
            class="input"
            placeholder="Message..."
          ></textarea>
          <button
            class="w-full rounded bg-primary-400 p-3 text-lg font-medium uppercase text-background"
          >
            Send Message
          </button>
        </form>
      </div>

      <!-- links -->
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        @for (social of socials; track $index) {
          <app-social-link appAnimateOnScroll [social]="social" />
        }
      </div>
    </div>
  </div>
</div>
