<!-- component.html -->
<div #scrollTrigger class="center-row space-x-4 overflow-hidden md:h-screen">
  <!-- Left Text (Andersson) -->

  <h2
    class="left-text -translate-x-24 whitespace-nowrap text-7xl md:text-8xl lg:text-9xl"
  >
    Arik <span class="font-gambetta italic">Andersson</span>
  </h2>

  <!-- Image -->
  <div
    class="arik_img relative z-10 translate-y-24 transform transition-all duration-700 ease-out"
  >
    <img
      src="https://framerusercontent.com/images/sitQqXXWe18lNYFUMPSXSHcM3A.png?scale-down-to=1024"
      alt="Arik Andersson"
      class="max-w-60 transform transition-transform duration-300 md:max-w-xs lg:max-w-sm"
    />
  </div>

  <!-- Right Text (Arik An) -->
  <h2
    class="right_text translate-x-24 whitespace-nowrap text-7xl md:text-8xl lg:text-9xl"
  >
    Arik <span class="font-gambetta italic">Andersson</span>
  </h2>
</div>
