<button
  class="accordion group"
  [ngClass]="{
    'border-primary-300': open,
  }"
  (click)="open = !open"
>
  <div class="flex items-center justify-between space-x-8">
    <h5 class="text-xl">
      {{ accordion().title }}
    </h5>
    <app-badge
      [badge]="{
        name: Icon.Plus,
        animation: animations,
      }"
      [styles]="styles"
    />
  </div>

  <div
    class="content mt-2 font-chillax"
    [style.max-height]="open ? '1000px' : '0px'"
    [class.opacity-100]="open"
    [class.opacity-0]="!open"
  >
    {{ accordion().data }}
  </div>
</button>
